/* You can add global styles to this file, and also import other style files */

svg {
  color:black;
  stroke: aqua;
  fill: black;
  display: block;
  width: 64px;
  height: 64px;
  outline: 1px solid red;
}